/* ---- global elements ---- */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 65px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 30px 0px;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  margin: 20px 0px;
}

h4 {
  font-weight: 600;
  font-size: 25px;
  margin: 25px 0px;
}

p {
  font-size: 16px;
  color: #444343;
  margin: 20px 0px;
  line-height: 25px;
}

button {
  cursor: pointer;
  border: 0;
}
.btn-primary {
  color: white;
  background-color: #005296;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  border-radius: 5px;
  padding: 0px 30px;
}
.btn-primary:hover {
  background-color: #003d6e;
}

.btn-secondary {
  color: black;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  border-radius: 5px;
  padding: 0px 30px;
}
.btn-secondary:hover {
  background-color: #003d6e;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
}

/* ---- section specific codes ---- */

/* section 1 - banner-section */

.header-banner {
  background-image: url(../images/banner/banner3.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 90vh;
  text-align: right;
  color: white;
}
.header-banner p {
  color: white;
}

.banner-content {
  width: 500px;
  margin-right: 200px;
}

/* section 2 - failure-list */

section.failure-list .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-point :before {
  content: "✓";
  color: #16d887;
  padding-right: 10px;
}
ul {
  padding: 0;
}
.person {
  max-width: 500px;
}
.list-content {
  width: 45%;
}
.list-point {
  list-style: none;
  font-size: 16px;
  color: #444343;
  line-height: 30px;
  text-align: left;
}

/* bonus section 2.1 - my skills */

section.my-skills {
  background-color: #005fac;
  padding: 30px;
}

section.my-skills * {
  color: white;
}

.my-skills .container {
  display: flex;
}

.about-me {
  width: 35%;
}
.skill-container {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
}
.skill-item {
  text-align: center;
  padding: 18px;

  border-radius: 10px;
  box-shadow: 0px 0px 40px -14px rgba(0, 0, 0, 0.75);
}
.skill-item img {
  width: 180px;
  border-radius: 10px;
}
.skill-item h4 {
  margin: 5px;
}
.skill-item p {
  margin: 5px;
}

/* section 3 - my-plan */

.my-plan {
  margin: 100px 0px;
}

section.my-plan .container {
  text-align: center;
}
.plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}
.plan-item {
  text-align: center;
}

.my-plan p {
  font-weight: 500;
  font-size: 22px;
}

/* section 4 - Newsletter */

.newsletter {
  color: white;
  background-image: linear-gradient(to right, #005fac, rgba(266, 266, 266, 0.1)),
    url(./../images/watch.png);

  height: 300px;
  background-size: cover;
  border-radius: 10px;
  padding-top: 40px;
  padding-left: 50px;
  margin-bottom: 150px;
}

.newsletter h2 {
  font-weight: 800;
}

/* footer section  */

footer {
  background-color: black;
  color: white;
  padding: 50px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-content p {
  color: white;
}

input {
  height: 60px;
  width: 300px;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 15px;
  color: white;
  font-size: 100%;
}
.social-icons a {
  margin-right: 10px;
}
