/* global elements */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 65px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 30px 0px;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  margin: 20px 0px;
}

h4 {
  font-weight: 600;
  font-size: 25px;
  margin: 25px 0px;
}

p {
  font-size: 16px;
  color: #444343;
  margin: 20px 0px;
  line-height: 25px;
}
button {
  cursor: pointer;
  border: 0;
}
.btn-primary {
  color: white;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  border-radius: 5px;
  padding: 0px 30px;
}
.btn-primary:hover {
  background-color: #f3601c;
}

.btn-secondary {
  color: #fd6e0a;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  border-radius: 5px;
  padding: 0px 30px;
}
.btn-secondary:hover {
  background-color: #f3601c;
  color: white;
}

.banner-content {
}

.container {
  max-width: 1200px;
  margin: 50px auto;
}

/* -----------------section specific codes ---------------- */

/* section 1 - banner-section */

.header-banner {
  background-image: url(/new-year-new-me-main/images/banner/banner1.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 90vh;
  text-align: right;
}
.banner-content {
  width: 500px;
  margin-right: 200px;
}

/* section 2 - failure-list */
section.failure-list .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-point :before {
  content: "✓";
  color: #16d887;
  padding-right: 10px;
}
ul {
  padding: 0;
}

.person {
  max-width: 500px;
}
.list-content {
  width: 45%;
}
.list-point {
  list-style: none;
  font-size: 16px;
  color: #444343;
  line-height: 30px;
  text-align: left;
}

/* section 3 - my-plan */

.my-plan {
  margin: 100px 0px;
}

section.my-plan .container {
  text-align: center;
}
.plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}
.plan-item {
  text-align: center;
}

.my-plan p {
  font-weight: 500;
  font-size: 22px;
}

/* section 4 - Newsletter */

.newsletter {
  color: white;
  background-image: linear-gradient(
      to right,
      rgba(249, 125, 20, 1),
      rgba(266, 266, 266, 0.1)
    ),
    url(./../images/watch.png);

  height: 300px;
  background-size: cover;
  border-radius: 10px;
  padding-top: 40px;
  padding-left: 50px;
  margin-bottom: 150px;
}

.newsletter h2 {
  font-weight: 800;
}

/* footer section  */

footer {
  background-color: black;
  color: white;
  padding: 50px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-content p {
  color: white;
}

input {
  height: 60px;
  width: 300px;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
}
.social-icons a {
  margin-right: 10px;
}
